# env.local variables for db and JWT secret key
# use own values for these in your .env.local file, this is just an example
# you can just rename this file to .env.local with your credentiasls and it shoudl work, but make sure to change the JWT_SECRET to something unique
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=financewebsite
# 32 + digits plz
JWT_SECRET= jspiofjfinwcapoJjFIUQhfpqdpqjnfo1KadquiiQf
